<div class="container example-container" style="width: 100%; height: 575px">
    <!-- {{ dataSource.tableHeader.displayColumns }} -->
    <!-- {{ dataSource.tableHeader | json }} -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" (scroll)="dataSource.onTableScroll($event)">
        <!-- Header row first category group Search-->
        <ng-container matColumnDef="header-row-first-group">
            <th
                mat-header-cell
                *matHeaderCellDef
                [attr.position]="'relative'"
                [attr.colspan]="2"
                [attr.rowSpan]="2"
                [ngClass]="'w-200'"
            >
                <div class="search-section">
                    <div class="expand-icon-section expand-icon-category">
                        <mat-icon
                            class="expand-icon"
                            [ngClass]="{ rotated: this.dataSource.tableHeader.expandCategories }"
                            (click)="this.dataSource.expand('categories')"
                            >arrow_forward</mat-icon
                        >
                    </div>

                    <div class="expand-icon-section expand-icon-inputs">
                        <mat-icon
                            class="expand-icon"
                            [ngClass]="{ rotated: this.dataSource.tableHeader.expandInputs }"
                            (click)="this.dataSource.expand('inputs')"
                            >arrow_downward</mat-icon
                        >
                    </div>
                    <mat-form-field class="search-text-field" appearance="standard">
                        <mat-label>Search Inputs ...</mat-label>
                        <input matInput type="text" [(ngModel)]="searchValue" />
                        <div matSuffix style="display: flex">
                            <a matSuffix aria-label="Clear" (click)="filter()">
                                <mat-icon>search</mat-icon>
                            </a>
                            <a
                                *ngIf="searchValue"
                                matSuffix
                                mat-icon-button
                                aria-label="Clear"
                                (click)="searchValue = ''; filter()"
                            >
                                <mat-icon>close</mat-icon>
                            </a>
                        </div>
                    </mat-form-field>
                </div>
            </th>
        </ng-container>

        <!-- Category group headers -->
        <ng-container
            *ngFor="let column of dataSource.tableHeader.categoriesColumns"
            matColumnDef="{{ column.categoryIdentifier }}"
            [sticky]="isSticky()"
        >
            <th
                mat-header-cell
                *matHeaderCellDef
                [ngClass]="'header-product'"
                [style.witdh]="getDynamicWidth(column)"
                [attr.colspan]="column.colspan"
                (click)="dataSource.toggleCategory(column.id, 'header')"
            >
                <span [ngClass]="'w-90pc pointer'">
                    {{ column.category }}<mat-icon *ngIf="column.hide === true">chevron_right</mat-icon
                    ><mat-icon *ngIf="column.hide === false">chevron_left </mat-icon>
                </span>
            </th>
        </ng-container>

        <!-- Sticky Column Category/input-->
        <ng-container *ngFor="let column of dataSource.tableHeader.stickyColumns">
            <ng-container [matColumnDef]="column" [sticky]="isSticky()">
                <th mat-header-cell *matHeaderCellDef [ngClass]="'w-100'" style="display: none">
                    <span>{{ column }}</span>
                </th>

                <td
                    mat-cell
                    *matCellDef="let row"
                    [ngClass]="getRowClassName(row)"
                    [ngClass]="row[column].className"
                    [ngClass]="{
                        pointer: mode === modes.Edit,
                        'cell-selected': row[column].select,
                        'input-sticky': column === 'input_name'
                    }"
                    (click)="dataSource.onClickSelectRow(row.id)"
                >
                    <ng-container [ngSwitch]="row[column].type">
                        <span
                            *ngSwitchCase="cellType.Category"
                            class="fs-14"
                            (click)="dataSource.toggleCategory(row['id'], 'column')"
                            [matTooltip]="row[column].text"
                            appTooltipIfTruncated
                        >
                            {{ row[column].text }}
                        </span>
                        <span [matTooltip]="row[column].text" appTooltipIfTruncated *ngSwitchCase="cellType.Input">{{
                            row[column].text
                        }}</span>
                    </ng-container>
                </td>
            </ng-container>
        </ng-container>

        <ng-container *ngFor="let column of dataSource.tableHeader.dynamicColumns">
            <ng-container [matColumnDef]="column.name">
                <th mat-header-cell *matHeaderCellDef [ngClass]="'w-100'" [ngClass]="getHeaderClassName(column.name)">
                    <span class="align-center">{{ column.text }}</span>
                </th>
                <td mat-cell *matCellDef="let row" [ngClass]="row[column.name].className">
                    <ng-container [ngSwitch]="row[column.name].type">
                        <!-- Empty Cell -->
                        <span *ngSwitchCase="cellType.EmptyCell"></span>

                        <!-- Cell -->
                        <ng-container *ngSwitchCase="cellType.Cell" [ngSwitch]="mode">
                            <div
                                *ngSwitchCase="modes.ReadOnly"
                                class="cell-container"
                                (click)="dataSource.onClickCell(row[column.name].inputId, row[column.name].productId)"
                            >
                                <mat-icon [ngClass]="{ 'in-active': !row[column.name].active }"
                                    >remove_red_eye</mat-icon
                                >
                            </div>
                            <div
                                *ngSwitchCase="modes.Edit"
                                class="cell-container pointer"
                                [ngClass]="{ 'cell-selected': row[column.name].select }"
                                (click)="dataSource.onClickCell(row[column.name].inputId, row[column.name].productId)"
                            >
                                <!-- {{ row | json }} -->
                                <mat-icon
                                    *ngIf="row[column.name].inputTypeId === 1"
                                    (click)="dataSource.onClickCellIcon($event, 'insert')"
                                    >insert_link</mat-icon
                                >
                                <mat-icon
                                    *ngIf="row[column.name].inputTypeId === 2"
                                    (click)="dataSource.onClickCellIcon($event, 'edit')"
                                    >edit</mat-icon
                                >
                            </div>
                            <div
                                *ngSwitchCase="modes.Validate"
                                class="cell-container"
                                [ngClass]="{
                                    'validate-active':
                                        row[column.name].validate !== null && row[column.name].validate === true,
                                    'validate-in-active':
                                        row[column.name].validate !== null && row[column.name].validate === false
                                }"
                            >
                                <!-- {{ row[column.name] | json }} -->
                                <mat-icon *ngIf="row[column.name].validate === null" [ngClass]="'cursor-default'"
                                    >hourglass_empty</mat-icon
                                >
                                <mat-icon *ngIf="row[column.name].validate === true">check_circle</mat-icon>
                                <mat-icon
                                    *ngIf="row[column.name].validate === false"
                                    (click)="
                                        dataSource.onClickCell(row[column.name].inputId, row[column.name].productId)
                                    "
                                    >cancel</mat-icon
                                >
                            </div>
                        </ng-container>
                    </ng-container>
                </td>
            </ng-container>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="dataSource.tableHeader.displayCategoriesColumns; sticky: isSticky()"
            class="border-split-category-section"
        ></tr>
        <tr
            mat-header-row
            *matHeaderRowDef="dataSource.tableHeader.displayColumns; sticky: isSticky()"
            class="headers"
        ></tr>
        <tr
            mat-row
            [ngClass]="getRowClassName(row)"
            *matRowDef="let row; columns: dataSource.tableHeader.displayColumns"
        ></tr>
    </table>
</div>
