$sidebar-background-color: #fafafa;
$sidebar-content-background-color: #f0f0f0;

.sidenav-container {
    height: 100%;
    overflow: hidden;
    background-color: $sidebar-background-color;
    .mat-sidenav-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $sidebar-content-background-color;
    }
}

@media (max-width: 800px) {
    mat-sidenav {
        width: 54px;
    }
}

@media (max-width: 1239px) and (min-width: 800px) {
    mat-sidenav {
        width: 96px;
    }
}

@media (min-width: 1240px) {
    mat-sidenav {
        width: 170px;
    }
}
