<!-- <div></div> -->

<div class="sidenav-logo">
    <a routerLink="/">
        <img alt="ArcSim" src="./assets/images/logo.svg" />
    </a>
</div>
<div class="sidenav-menu-list">
    <mat-nav-list>
        <ng-container *ngFor="let item of pages">
            <div [routerLink]="[item.route]" [routerLinkActive]="['is-active']">
                <mat-icon matListIcon>{{ item.icon }}</mat-icon>

                <span>{{ item.name }}</span>
            </div>
        </ng-container>
    </mat-nav-list>
</div>
